<div  class="beerIndex">
<img src= "/images/beer.png" alt="Beer" class="introBeer"width="450">
<br>
<a href="/beers" class="linkButton">Check the Beers!</a>
<br>
<a href="/random-beers" class="linkButton">Check a Random Beer!</a>

</div>